.main-content .h3 {
  /* margin-left: 345px; */
  color: white;
}

.main {
  display: flex;
}

.side-menu {
  position: sticky;
  top: 0;
  background-color: #242423;
  width: 275px;
  height: 100vh;
  color: white;
  border-right: 1px solid #181818;
}

.header-menu {
  height: 80px;
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.header-menu h1 {
  font-size: 28px;
  font-weight: 500;
}

.header-logo:hover {
  cursor: pointer;
}

.side-menu-list {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

.side-menu-list .side-menu-row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.side-menu-list .side-menu-row:hover {
  cursor: pointer;
  background-color: #202020;
}

.side-menu-row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.side-menu-row #title {
  flex: 70%;
}

.header-dashboard {
  background-color: #242423;
  position: relative;
  min-height: 100%;
  width: calc(100% - 275px);
  left: 275px;
}

.header-dashboard nav {
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-dashboard nav .banner-dashboard {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

.header-dashboard nav .admin-details {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 200;
  color: white;
}

.dashboard-content {
  position: relative;
  padding-top: 20px;
}

.dashboard-content .overview-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

.dashboard-content .overview-box .box {
  width: calc(100% / 4 - 15px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 14px;
  background: #fff;
  border-radius: 12px;
}

.dashboard-content .overview-box .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.dashboard-content .overview-box .number {
  font-size: 35px;
  font-weight: 500;
  margin-top: -5px;
  display: inline-block;
}
