.details-section {
    margin: 32px 0;
    display: flex;
    gap: 32px;
    min-height:480px;
}

.details-img {
    position: -webkit-sticky;
    position: sticky;
    width: 40%;
    max-width: 438px;
    max-height: 438px;
    background: #eee;
    border-radius: 4px;
}

.details-info {
    width: 60%;
}

.info-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 16px;
}

.info-top h1 {
    margin: 0;
}

.info-top > div > span {
    font-size: 0.9em;
}

.purchase-btn, .review-submit-btn, .review-login-btn {
    padding: 4px 12px;
    opacity: 0.8;
    transition: 0.2s;
    border: 0;
    border-radius: 2px;
}

.purchase-btn:hover {
    opacity: 1;
    box-shadow: 0 0 16px 2px #333;
}

.review-submit-btn:hover, .review-login-btn:hover {
    opacity: 1;
    box-shadow: 0 0 16px 2px #bbb;
}

.review-section {
    padding: 24px;
    background: #ccc;
    border-radius: 4px;
    color: #333;
}

.review-text {
    width: 100%;
    outline: none;
    resize: none;
    margin-bottom: 8px;
}

.create-review {
    border-radius: 4px;
    margin-bottom: 32px;
}

.review-rating {
    margin-right: 8px;
    margin-bottom: 12px;
}

.user-reviews {
    border-radius: 4px;
}

.review-title {
    margin-bottom: 16px;
}

.review-card {
    background: #eee;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
}

.review-card p {
    margin: 0;
}

.review-card span {
    size: 4px;
    margin-bottom: 4px;
}

.review-top {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
}

.review-top > strong {
    margin-right: 16px;
}

.review-rating {
    /* display: inline-block; */
    list-style-type: none;
    margin-bottom: 4px;
}
