.details-section {
    margin: 32px 0;
    display: flex;
    height: 50vh;
    max-height: 480px;
    gap: 32px;
}

.details-img {
    width: 40%;
    background: #eee;
}

.details-info {
    width: 60%;
}

.info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-btn, .review-submit-btn {
    padding: 4px 12px;
    opacity: 0.8;
    transition: 0.2s;
    border: 0;
    border-radius: 2px;
}

.purchase-btn:hover {
    opacity: 1;
    box-shadow: 0 0 8px 4px #333;
}

.review-section > div {
    background: #555;
}

.review-submit-btn:hover {
    opacity: 1;
    box-shadow: 0 0 8px 4px #333;

}

.review-text {
    width: 100%;
    outline: none;
    resize: none;
}