* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.bookeroo-title {
  font-size: 40px;
  font-weight: 600;
  padding-left: 50px;
  padding-top: 2px;
  text-transform: uppercase;
}

.bookeroo-title:hover {
  text-decoration: none;
  color: white;
}

/*
General Navbar
*/
.navbar-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff00;
}

/*
Styling of everything inside navbar
*/
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/*
Spacing of navbar links
*/
.navbar-item a {
  margin: 0 0px;
}

/*
Styling for login button
*/
.navbar-button-login {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #212529;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  margin-left: 10px;
}

.navbar-button-login:hover {
  border-color: #ffffff;
  background: linear-gradient(to right, #9d4edd, #56cfe1);
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/*
Styling for register button
*/
.navbar-button-register {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #212529;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  margin-left: 10px;
}

.navbar-button-register:hover {
  border-color: #ffffff;
  background: linear-gradient(to right, #9d4edd, #56cfe1);
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.navbar-page-registerlink:hover {
  text-decoration: none;
  color: white;
}

.navbar-page-loginlink:hover {
  text-decoration: none;
  color: white;
}
