.my-account-container {
    background: #ccc;
    border-radius: 4px;
    color: #333;
    margin: 16px 0;
    padding: 24px 32px;
}



.myaccount-details {
    display: flex;
    justify-content: space-between;
}

