.my-account-container {
    background: #ccc;
    border-radius: 4px;
    color: #333;
    margin: 16px 0;
    padding: 24px 32px;
}

.my-account-container h1 {
    margin-bottom: 16px;
}

.profile-img {
    background: #fff;
    border-radius: 8px;
    width: 328px;
    height: 328px;
    object-fit: cover;
}

.my-account-details {
    display: flex;
    gap: 32px;
}

.details-summary, .type-field {
    flex-grow: 1;
}

.account-details {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.account-section {
    border-bottom: 2px solid #bbb;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.account-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.account-field.account-summary {
    margin-bottom: 16px;
}

#details-main {
    flex-grow: 1;
}